<div class="container-fluid offer-container">
  <div class="container py-3">
    <p class="h5 m-0">UPTO 50% off sidewide</p>
    <div class="contact-text">
      <p class="me-3 m-0 h6">Measure & install</p>
      <p class="me-3 m-0 h6">Create an estimate</p>
      <p class="d-flex align-items-center m-0 h6">Get help</p>
      <p class="d-flex align-items-center m-0 h6 dial">
        <img src="../../assets/icons/phone-white.svg" class="mx-2" alt="" />
        <span>000-000-0000</span>
      </p>
    </div>
  </div>
</div>

<div class="container header-container py-lg-3 py-1">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a routerLink="./home" class="navbar-brand order-lg-0 order-1"
        ><img class="w-100" src="../../assets/logo.svg" alt=""
      /></a>
      <div class="cart_user-mb navbar-toggler order-2">
        <a routerLink="./my-account">
          <img src="../../assets/icons/user.svg" alt="" />
        </a>
        <a routerLink="./cart" class="position-relative mx-2">
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
          >
            1
            <span class="visually-hidden">unread messages</span>
          </span>
          <img src="../../assets/icons/cart-dark.svg" alt="" />
        </a>
        <img src="../../assets/icons/phone-gray.svg" alt="" />
      </div>
      <button
        class="navbar-toggler order-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-3" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="./blinds" class="nav-link active" aria-current="page"
              >Blinds</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="./shades" class="nav-link active" aria-current="page"
              >Shades</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="./shutters"
              class="nav-link active"
              aria-current="page"
              >Shutters</a
            >
          </li>
        </ul>
        <div class="cart_user">
          <a routerLink="./my-account" class="me-2">
            <img src="../../assets/icons/user.svg" alt="" />
          </a>
          <a routerLink="./cart" class="position-relative">
            <img src="../../assets/icons/cart-dark.svg" alt="" />
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
            >
              1
              <span class="visually-hidden">unread messages</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
