<!-- Footer -->
<footer class="container-fluid p-0 pt-3">
    <div class="container py-5">
      <div
        class="row d-flex justify-content-sm-between justify-content-center justify-content-center align-items-center footer-header"
      >
        <div class="col-lg-3 col-md-4 col-sm-4 col-7">
          <a routerLink="./home"><img class="w-100" src="../../assets/logo-white.svg" alt="" /></a>
        </div>
        <div  class="col-sm-6 col-12 mt-md-0 mt-4 d-flex align-items-end justify-content-md-end justify-content-center"
        >
          <div>
            <p class="h4">Sign Up & Save an Extra $20</p>
            <p class="h6">on orders of $159 or greater.</p>
            <form class="email-form my-2 w-100" action="">
              <input type="email" placeholder="Enter Address" />
              <button>Subscribe</button>
            </form>
            <div class="socials d-flex mt-3">
              <div class="social-icon me-3">
                <a href="#">
                  <img
                    src="../../assets/socials/Facebook - Negative.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="social-icon me-3">
                <a href="">
                  <img
                    src="../../assets/socials/Twitter - Negative.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="social-icon me-3">
                <a href="">
                  <img
                    src="../../assets/socials/Instagram - Negative.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="social-icon me-3">
                <a href="">
                  <img
                    src="../../assets/socials/LinkedIn - Negative.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="social-icon me-3">
                <a href="">
                  <img
                    src="../../assets/socials/YouTube - Negative.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="social-icon">
                <a href="" class="social-icon">
                  <img
                    src="../../assets/socials/Pinterest - Negative.svg"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="row d-flex justify-content-between">
        <div class="col-lg-2 col-md-3 col-6 mt-md-0 mt-4 links">
          <p class="h5">Company</p>
          <div class="detail-link d-flex flex-column">
            <a class="h6">About us</a>
            <a class="h6">Newsroom</a>
            <a class="h6">Careers</a>
            <a class="h6">Affiliates</a>
            <a class="h6">Commercial Blinds</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-md-0 mt-4 links">
          <p class="h5">Categories</p>
          <div class="detail-link d-flex flex-column">
            <a routerLink="./blinds" class="h6">Blinds</a>
            <a routerLink="./shutters" class="h6">Shades</a>
            <a routerLink="./shutters" class="h6">Shutters</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-md-0 mt-4 links">
          <p class="h5">Help</p>
          <div class="detail-link d-flex flex-column">
            <a routerLink="./order-track" class="h6">Track Order</a>
            <a routerLink="./contact" class="h6">FAQs</a>
            <a href="#" class="h6">Order policies</a>
            <a routerLink="./contact" class="h6">Contact us</a>
            <a class="h6">Privacy Policy</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-md-0 mt-4 links">
          <p class="h5">Other links</p>
          <div class="detail-link d-flex flex-column">
            <a class="h6">Do not sell my information</a>
            <a class="h6">Terms & Conditions</a>
            <a class="h6">Site Map</a>
            <a class="h6">Measure & Install</a>
            <a class="h6">Free sample</a>
            <a class="h6">Guarantee</a>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-lg-0 mt-4">
          <div class="address-box d-flex mb-2">
            <div class="area-icon me-3">
              <img src="../../assets/icons/location.svg" alt="" />
            </div>
            <div class="address-text">
              <p class="h5">Location</p>
              <p class="h6">
                Lorem ipsum dolor sit amet, consectetuer adipid exerci tation
              </p>
            </div>
          </div>
          <div class="address-box d-flex mb-2">
            <div class="area-icon me-3">
              <img src="../../assets/icons/email.svg" alt="" />
            </div>
            <div class="address-text">
              <p class="h5">Drop us an email !</p>
              <p class="h6">loremipsum@lorem.com</p>
            </div>
          </div>
          <div class="address-box d-flex mb-2">
            <div class="area-icon me-3">
              <img src="../../assets/icons/phone.svg" alt="" />
            </div>
            <div class="address-text">
              <p class="h5">Contact Us</p>
              <p class="h6">+00-0000000000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="copy-right h6 py-3 m-0 text-center">
      Copyright@2022 innovative Window Fashions
    </p>
  </footer>