<div
  class="container mt-5 mb-4 blinds-container d-flex justify-content-between"
>
  <p class="h6 current-page">
    <span class="opacity">Home / Blinds / 2 inch wood blinds /</span>
    <span class="blue-text fw-bold">Checkout</span>
  </p>
</div>

<div class="container registerform contact-container checkout-container mb-5">
  <div class="row justify-content-between">
    <div class="col-md-6 col-12">
      <p class="h3 mb-4 mt-0 blue-text">Billing Details</p>
      <form action="">
        <div class="row justify-content-center flex-column align-items-center">
          <div class="d-lg-flex d-block">
            <div class="col-lg-6 p-12 form-group mb-3 pe-2">
              <p class="h6 blue-text mb-1">First Name</p>
              <input class="w-100" type="text" />
            </div>
            <div class="col-lg-6 p-12 form-group mb-3">
              <p class="h6 blue-text mb-1">Last Name</p>
              <input class="w-100" type="text" />
            </div>
          </div>
          <div class="col-12 form-group mb-3">
            <p class="h6 blue-text mb-1">Country</p>
            <input class="w-100" type="text" />
          </div>
          <div class="col-12 form-group mb-3">
            <p class="h6 blue-text mb-1">Address</p>
            <input
              class="w-100"
              type="text"
              placeholder="Home number and street name"
            />
          </div>
          <div class="col-12 form-group mb-3">
            <input class="w-100" type="text" placeholder="Appartment" />
          </div>
          <div class="col-12 form-group mb-3">
            <p class="h6 blue-text mb-1">Town/City</p>
            <input class="w-100" type="text" />
          </div>
          <div class="col-12 form-group mb-3">
            <p class="h6 blue-text mb-1">State</p>
            <input class="w-100" type="text" />
          </div>
          <div class="d-lg-flex d-block">
            <div class="col-lg-6 col-12 form-group mb-3 pe-2">
              <p class="h6 blue-text mb-1">Phone Number</p>
              <input class="w-100" type="text" />
            </div>
            <div class="col-lg-6 col-12 form-group mb-3">
              <p class="h6 blue-text mb-1">Email ID</p>
              <input class="w-100" type="text" />
            </div>
          </div>
          <!-- <div class="col-12 form-group mb-5 mt-3">
                <button class="button">Submit</button>
              </div> -->
        </div>
      </form>
    </div>
    <div class="col-md-5 col-12 mt-lg-0 mt-4 px-3 d-flex flex-column">
      <div
        class="row justify-content-center contact-card order-track-table mb-3"
      >
        <div class="col-12 py-4 px-5">
          <p class="h5 mb-3 blue-text">Order Details</p>
          <hr class="blue-text mb-0" />
          <table class="table">
            <thead>
              <tr class="border-0">
                <th class="blue-text fw-normal border-0" scope="col">
                  Product
                </th>
                <th class="blue-text fw-normal border-0" scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr class="vertical">
                <td class="order-image d-flex w-100">
                  <img
                    class="w-25"
                    src="../../assets/best_seller/wood_dark.png"
                    alt=""
                  />
                  <p class="h6 blue-text ms-3 d-flex align-items-center">
                    2 Inch Wood Blinds
                  </p>
                </td>
                <td class="blue-text fw-bold">$ 47.43</td>
              </tr>
            </tbody>
          </table>
          <div class="accordion" id="productone">
            <div class="accordion-item">
              <h2 class="accordion-header" id="labelproductone">
                <button
                  class="accordion-button accordion-header-style collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collaspeproductone"
                  aria-expanded="false"
                  aria-controls="collaspeproductone"
                >
                  Additional details
                </button>
              </h2>
              <div
                id="collaspeproductone"
                class="accordion-collapse collapse"
                aria-labelledby="labelproductone"
                data-bs-parent="#productone"
              >
                <div class="accordion-body description text-start ps-0 pt-0">
                  <p>SUREFIT - Guarantee to fit : <span>YES</span></p>
                  <p>Width : <span>24 0/0</span></p>
                  <p>Height : <span>36 0/0</span></p>
                  <p>Color & Texture : <span>True white 196</span></p>
                  <p>Mount : <span>Outside mount, not recessed</span></p>
                  <p>Lift : <span>Cordless lift $ 82.99</span></p>
                  <p>Tilt : <span>Wand</span></p>
                  <p>Block Light : <span>Standard</span></p>
                  <p>Headrail Style : <span>None</span></p>
                  <p>Valance : <span>Modern Valance</span></p>
                  <p>Shipping : <span>Standard</span></p>
                </div>
              </div>
            </div>
          </div>
          <hr class="blue-text" />
          <div class="d-flex justify-content-between">
            <p class="h6 blue-text">Quantity</p>
            <p class="h6 blue-text">01</p>
          </div>
          <hr class="blue-text" />

          <div class="d-flex justify-content-between">
            <p class="h6 blue-text">Shipping / Tax</p>
            <p class="h6 blue-text">$ 10.43</p>
          </div>
          <hr class="blue-text" />
          <div class="d-flex justify-content-between">
            <p class="h6 blue-text fw-bold">Total</p>
            <p class="h6 blue-text fw-bold">$ 57.43</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center contact-card order-track-table">
        <div class="col-12 py-4 px-5">
          <p class="h5 mb-2 blue-text fw-bold">Payment Method</p>
          <form action="">
            <div class="form-group">
              <input class="me-2" type="radio" name="card" id="credit" />
              <label for="credit">Credit card / Debit card</label>
            </div>
            <div class="form-group">
              <input class="me-2" type="radio" name="card" id="paypal" />
              <label for="paypal">Pay with Pay pal</label>
            </div>
            <div class="form-group">
              <input class="me-2" type="radio" name="card" id="orderoffline" />
              <label for="orderoffline">Order Offline</label>
            </div>
            <div class="w-100 mt-4">
              
              <a routerLink="../checkout" class="w-100"><button class="button me-2">Proceed</button></a>
              <a routerLink="../blinds" class="w-100"><button class="button">Continue shopping</button></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
