<div
  class="container mt-md-5 mt-3 mb-4 blinds-container d-flex justify-content-between"
>
  <p class="h6 current-page">
    <span class="opacity">Home / </span>
    <span class="blue-text fw-bold">My wishlist</span>
  </p>
</div>

<div class="container">
  <p class="h3 mb-4 mt-0 blue-text">My Wishlist</p>
  <div class="row">
    <div class="col-12">
      <table class="table table-image">
        <thead>
          <tr>
            <th class="blue-text fw-normal" scope="col"></th>
            <th class="blue-text fw-normal" scope="col">Products</th>
            <th class="blue-text fw-normal" scope="col"></th>
            <th class="blue-text fw-normal" scope="col">Quantity</th>
            <th class="blue-text fw-normal" scope="col">Price</th>
            <th class="blue-text fw-normal" scope="col">Stock Status</th>
            <th class="blue-text fw-normal" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <img src="../../assets/icons/cross.svg" alt="" />
            </th>
            <td class="order-image">
              <img
                class="w-50"
                src="../../assets/best_seller/wood_dark.png"
                alt=""
              />
            </td>
            <td class="order-dropdown">
              <div class="order-detail-box">
                <p class="h6 blue-text fw-bold d-flex">2 Inch wood Blinds</p>
                <div class="accordion" id="profuctone">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="labelproductone">
                      <button
                        class="accordion-button accordion-header-style collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collaspeproductone"
                        aria-expanded="false"
                        aria-controls="collaspeproductone"
                      >
                        Additional details
                      </button>
                    </h2>
                    <div
                      id="collaspeproductone"
                      class="accordion-collapse collapse"
                      aria-labelledby="labelproductone"
                      data-bs-parent="#profuctone"
                    >
                      <div class="accordion-body description text-start">
                        <p>SUREFIT - Guarantee to fit : <span>YES</span></p>
                        <p>Width : <span>24 0/0</span></p>
                        <p>Height : <span>36 0/0</span></p>
                        <p>Color & Texture : <span>True white 196</span></p>
                        <p>Mount : <span>Outside mount, not recessed</span></p>
                        <p>Lift : <span>Cordless lift $ 82.99</span></p>
                        <p>Tilt : <span>Wand</span></p>
                        <p>Block Light : <span>Standard</span></p>
                        <p>Headrail Style : <span>None</span></p>
                        <p>Valance : <span>Modern Valance</span></p>
                        <p>Shipping : <span>Standard</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex order-qnatity-box align-items-center">
                <button class="button">+</button>
                <p>01</p>
                <button class="button">-</button>
              </div>
            </td>
            <td class="h5 blue-text">$ 47.43</td>
            <td class="h6 blue-text">In stock</td>
            <td>
              <button class="button">Add to cart</button>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <img src="../../assets/icons/cross.svg" alt="" />
            </th>
            <td class="order-image">
              <img
                class="w-50"
                src="../../assets/best_seller/wood_dark.png"
                alt=""
              />
            </td>
            <td class="order-dropdown">
              <div class="order-detail-box">
                <p class="h6 blue-text fw-bold d-flex">2 Inch wood Blinds</p>
                <div class="accordion" id="producttwo">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="labelproducttwo">
                      <button
                        class="accordion-button accordion-header-style collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseproducttwo"
                        aria-expanded="false"
                        aria-controls="collapseproducttwo"
                      >
                        Additional details
                      </button>
                    </h2>
                    <div
                      id="collapseproducttwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="labelproducttwo"
                      data-bs-parent="#producttwo"
                    >
                      <div class="accordion-body description text-start">
                        <p>SUREFIT - Guarantee to fit : <span>YES</span></p>
                        <p>Width : <span>24 0/0</span></p>
                        <p>Height : <span>36 0/0</span></p>
                        <p>Color & Texture : <span>True white 196</span></p>
                        <p>Mount : <span>Outside mount, not recessed</span></p>
                        <p>Lift : <span>Cordless lift $ 82.99</span></p>
                        <p>Tilt : <span>Wand</span></p>
                        <p>Block Light : <span>Standard</span></p>
                        <p>Headrail Style : <span>None</span></p>
                        <p>Valance : <span>Modern Valance</span></p>
                        <p>Shipping : <span>Standard</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex order-qnatity-box align-items-center">
                <button class="button">+</button>
                <p>01</p>
                <button class="button">-</button>
              </div>
            </td>
            <td class="h5 blue-text">$ 47.43</td>
            <td class="h6 blue-text">In stock</td>
            <td>
              <button class="button">Add to cart</button>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <img src="../../assets/icons/cross.svg" alt="" />
            </th>
            <td class="order-image">
              <img
                class="w-50"
                src="../../assets/best_seller/wood_dark.png"
                alt=""
              />
            </td>
            <td class="order-dropdown">
              <div class="order-detail-box">
                <p class="h6 blue-text fw-bold d-flex">2 Inch wood Blinds</p>
                <div class="accordion" id="productthree">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="labelorderthree">
                      <button
                        class="accordion-button accordion-header-style collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseorderthree"
                        aria-expanded="false"
                        aria-controls="collapseorderthree"
                      >
                        Additional details
                      </button>
                    </h2>
                    <div
                      id="collapseorderthree"
                      class="accordion-collapse collapse"
                      aria-labelledby="labelorderthree"
                      data-bs-parent="#productthree"
                    >
                      <div class="accordion-body description text-start">
                        <p>SUREFIT - Guarantee to fit : <span>YES</span></p>
                        <p>Width : <span>24 0/0</span></p>
                        <p>Height : <span>36 0/0</span></p>
                        <p>Color & Texture : <span>True white 196</span></p>
                        <p>Mount : <span>Outside mount, not recessed</span></p>
                        <p>Lift : <span>Cordless lift $ 82.99</span></p>
                        <p>Tilt : <span>Wand</span></p>
                        <p>Block Light : <span>Standard</span></p>
                        <p>Headrail Style : <span>None</span></p>
                        <p>Valance : <span>Modern Valance</span></p>
                        <p>Shipping : <span>Standard</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex order-qnatity-box align-items-center">
                <button class="button">+</button>
                <p>01</p>
                <button class="button">-</button>
              </div>
            </td>
            <td class="h5 blue-text">$ 47.43</td>
            <td class="h6 blue-text">In stock</td>
            <td>
              <button class="button">Add to cart</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
