<div class="container track-container">
  <p class="h3 my-md-5 my-4 blue-text text-center">Order Tracking</p>
  <div class="row justify-content-center">
    <div class="col-2">
      <div class="track-icons">
        <img src="../../assets/icons/cart-white.svg" alt="" />
      </div>
      <p class="h6 mt-3 mb-5">Order Place</p>
    </div>
    <div class="col-2">
      <div class="track-icons">
        <img src="../../assets/icons/progress.svg" alt="" />
      </div>
      <p class="h6 mt-3 mb-5">In progress</p>
    </div>
    <div class="col-2">
      <div class="track-icons">
        <img src="../../assets/icons/dispatch.svg" alt="" />
      </div>
      <p class="h6 mt-3 mb-5">Dispatch</p>
    </div>
    <div class="col-2">
      <div class="track-icon">
        <img src="../../assets/icons/complete-order.svg" alt="" />
      </div>
      <p class="h6 mt-3 mb-5">Complete</p>
    </div>
  </div>
  <p class="h5 mt-3 mb-5 blue-text text-center">Expected Date : 12 Dec, 2021</p>

  <div class="row justify-content-center order-track-table pb-5">
    <div class="col-lg-7 col-12 p-sm-5 p-4">
      <p class="h5 mb-3 blue-text">Order Details</p>
      <hr class="blue-text mb-0" />
      <table class="table">
        <thead>
          <tr class="border-0">
            <th class="blue-text fw-normal border-0" scope="col">Product</th>
            <th class="blue-text fw-normal border-0" scope="col">Quantity</th>
            <th class="blue-text fw-normal border-0" scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="vertical">
            <td class="order-image d-flex w-100">
              <img
                class="w-25"
                src="../../assets/best_seller/wood_dark.png"
                alt=""
              />
              <p class="h6 blue-text ms-3 d-flex align-items-center">
                2 Inch Wood Blinds
              </p>
            </td>
            <td class="blue-text">01</td>
            <td class="blue-text fw-bold">$ 47.43</td>
          </tr>
        </tbody>
      </table>
      <div class="accordion" id="productone">
        <div class="accordion-item">
          <h2 class="accordion-header" id="labelproductone">
            <button
              class="accordion-button accordion-header-style collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collaspeproductone"
              aria-expanded="false"
              aria-controls="collaspeproductone"
            >
              Additional details
            </button>
          </h2>
          <div
            id="collaspeproductone"
            class="accordion-collapse collapse"
            aria-labelledby="labelproductone"
            data-bs-parent="#productone"
          >
            <div class="accordion-body description text-start ps-0 pt-0">
              <p>SUREFIT - Guarantee to fit : <span>YES</span></p>
              <p>Width : <span>24 0/0</span></p>
              <p>Height : <span>36 0/0</span></p>
              <p>Color & Texture : <span>True white 196</span></p>
              <p>Mount : <span>Outside mount, not recessed</span></p>
              <p>Lift : <span>Cordless lift $ 82.99</span></p>
              <p>Tilt : <span>Wand</span></p>
              <p>Block Light : <span>Standard</span></p>
              <p>Headrail Style : <span>None</span></p>
              <p>Valance : <span>Modern Valance</span></p>
              <p>Shipping : <span>Standard</span></p>
            </div>
          </div>
        </div>
      </div>
      <hr class="blue-text" />
      <div class="d-flex justify-content-between">
        <p class="h4 blue-text">Payment Type</p>
        <p class="h4 blue-text opacity">Cash On Delivery</p>
      </div>
      <hr class="blue-text" />

      <div class="d-flex justify-content-between">
        <p class="h4 blue-text">Subtotal</p>
        <p class="h4 blue-text opacity">$ 56.67</p>
      </div>
    </div>
  </div>
</div>
