<div class="container registerform">
  <p class="h3 text-center mb-5 mt-3 blue-text">Login</p>
  <form action="">
    <div class="row justify-content-center flex-column align-items-center">
      <div class="col-lg-6 col-md-8 col-12 form-group mb-3">
        <p class="h6 blue-text mb-1">Email ID</p>
        <input class="w-100" type="text" placeholder="johnevans@abcd.com" />
      </div>
      <div class="col-lg-6 col-md-8 col-12 form-group mb-3">
        <p class="h6 blue-text mb-1">Password</p>
        <input class="w-100" type="text" placeholder="******" />
      </div>
      <div
        class="col-lg-6 col-md-8 col-12 d-flex justify-content-between align-items-center form-group mb-5 mt-3"
      >
        <button class="button">Login</button>
        <a href="#" class="blue-text">Forgot Password ?</a>
      </div>
      <div
        class="col-lg-6 col-md-8 col-12 d-flex justify-content-between align-items-center form-group mb-5"
      >
        <div class="d-flex align-items-center">
          <p class="h6 black-text me-3">Or Login With</p>
          <img src="../../assets/google.svg" alt="" />
        </div>
        <p href="#" class="h6 black-text">
          Don't have account ?
          <a href="./Register.html" class="blue-text">Signup Now</a>
        </p>
      </div>
    </div>
  </form>
</div>
