<div
  class="container mt-md-5 mt-3 mb-4 blinds-container d-flex justify-content-between"
>
  <p class="h6 current-page">
    <span class="opacity">Home / </span>
    <span class="blue-text fw-bold">Contact</span>
  </p>
</div>

<div class="container registerform contact-container">
  <div class="row justify-content-between">
    <div class="col-md-6 col-12">
      <p class="h3 mb-4 mt-0 blue-text">Get in Touch</p>
      <form action="">
        <div class="row justify-content-center flex-column align-items-center">
          <div class="col-12 form-group mb-3">
            <p class="h6 blue-text mb-1">Name</p>
            <input class="w-100" type="text" />
          </div>
          <div class="col-12 form-group mb-3">
            <p class="h6 blue-text mb-1">Email ID</p>
            <input class="w-100" type="text" />
          </div>
          <div class="col-12 form-group mb-3">
            <p class="h6 blue-text mb-1">Phone Number</p>
            <input class="w-100" type="text" />
          </div>
          <div class="col-12 form-group mb-3">
            <p class="h6 blue-text mb-1">Subject</p>
            <input class="w-100" type="text" />
          </div>
          <div class="col-12 form-group mb-3">
            <p class="h6 blue-text mb-1">Message</p>
            <textarea class="w-100" name="" id="" cols="30" rows="5"></textarea>
          </div>
          <div class="col-12 form-group mb-5 mt-3">
            <button class="button">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 col-12 mt-lg-0 mt-4 py-lg-0 py-4 contact-card px-3">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="address-box d-flex pb-3">
            <div class="area-icon me-3">
              <img src="../../assets/icons/location-white.svg" alt="" />
            </div>
            <div class="address-text">
              <p class="h5">Location</p>
              <p class="h6">
                Lorem ipsum dolor sit amet, consectetuer adipid exerci tation
              </p>
            </div>
          </div>
          <div class="address-box d-flex my-lg-5 my-4">
            <div class="area-icon me-3">
              <img src="../../assets/icons/white-email.svg" alt="" />
            </div>
            <div class="address-text">
              <p class="h5">Drop us an email !</p>
              <p class="h6">loremipsum@lorem.com</p>
            </div>
          </div>
          <div class="address-box d-flex pt-3">
            <div class="area-icon me-3">
              <img src="../../assets/icons/white-call.svg" alt="" />
            </div>
            <div class="address-text">
              <p class="h5">Contact Us</p>
              <p class="h6">+00-0000000000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container registerform contact-container">
  <div class="row justify-content-center">
    <p class="h3 mb-4 text-center mt-5 blue-text">FAQ’s</p>
    <div class="col-md-6 col-12 mt-4 mb-5 px-0">
      <div class="accordion" id="fags">
        <div class="accordion-item">
          <h2 class="accordion-header" id="orderfags">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseorder"
              aria-expanded="true"
              aria-controls="collapseorder"
            >
              01 How do I track my order?
            </button>
          </h2>
          <div
            id="collapseorder"
            class="accordion-collapse collapse show"
            aria-labelledby="orderfags"
            data-bs-parent="#fags"
          >
            <div class="accordion-body">...</div>
          </div>
        </div>
        <div class="accordion-item my-2">
          <h2 class="accordion-header" id="measurefags">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsemeasure"
              aria-expanded="false"
              aria-controls="collapsemeasure"
            >
              02 How do I measure my windows?
            </button>
          </h2>
          <div
            id="collapsemeasure"
            class="accordion-collapse collapse"
            aria-labelledby="measurefags"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">...</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="commercial">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecommercial"
              aria-expanded="false"
              aria-controls="collapsecommercial"
            >
              03 Do you sell commercially?
            </button>
          </h2>
          <div
            id="collapsecommercial"
            class="accordion-collapse collapse"
            aria-labelledby="commercial"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">...</div>
          </div>
        </div>
      </div>
      <button class="button mt-5">Show More</button>
    </div>
  </div>
</div>

<div class="container-fluid row p-0 pt-3">
  <img class="w-100" src="../../assets/map.png" alt="" />
</div>
