<div class="container active-tab">
    <p class="h6 current-page">
      <span class="opacity">Home / </span>
      <span class="blue-text fw-bold">Cart</span>
    </p>
  </div>
  <div
    class="container mt-5 mb-4 cart-container d-flex justify-content-between"
  >
    <div class="row justify-content-between">
      <div class="col-md-7 col-12">
        <div class="d-flex justify-content-between">
          <p class="h4 blue-text mb-4">My shopping cart (2 items)</p>
          <p class="h4 blue-text mb-4">Total : $ 7000</p>
        </div>
        <div class="row p-sm-0 px-2">
          <div class="col-12 cart-box">
            <div class="row justify-content-between align-items-center">
              <div class="col-2">
                <img
                  class="w-100"
                  src="../../assets/best_seller/wood_dark.png"
                  alt=""
                />
              </div>
              <div class="col-4 order-dropdown">
                <div class="order-detail-box">
                  <p class="h6 blue-text fw-bold d-flex">
                    2 Inch wood Blinds
                  </p>
                  <div class="accordion" id="cartone">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="labelcartone">
                        <button
                          class="accordion-button accordion-header-style collapsed pt-1 pb-0"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapsecartone"
                          aria-expanded="false"
                          aria-controls="collapsecartone"
                        >
                          Additional details
                        </button>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="d-flex order-qnatity-box align-items-center">
                  <button class="button">+</button>
                  <p>01</p>
                  <button class="button">-</button>
                </div>
              </div>
              <div class="col-2">
                <p class="h5 blue-text">$ 47.42</p>
              </div>
              <div class="col-1">
                <img src="../../assets/icons/cross.svg" alt="" />
              </div>
              <div
                id="collapsecartone"
                class="accordion-collapse collapse"
                aria-labelledby="labelcartone"
                data-bs-parent="#cartone"
              >
                <div
                  class="d-sm-flex d-block justify-content-between align-items-start"
                >
                  <div class="accordion-body description text-start">
                    <p>SUREFIT - Guarantee to fit : <span>YES</span></p>
                    <p>Width : <span>24 0/0</span></p>
                    <p>Height : <span>36 0/0</span></p>
                    <p>Color & Texture : <span>True white 196</span></p>
                    <p>
                      Mount :
                      <span>Outside mount, not recessed</span>
                    </p>
                    <p>Lift : <span>Cordless lift $ 82.99</span></p>
                    <p>Tilt : <span>Wand</span></p>
                    <p>Block Light : <span>Standard</span></p>
                    <p>Headrail Style : <span>None</span></p>
                    <p>Valance : <span>Modern Valance</span></p>
                    <p>Shipping : <span>Standard</span></p>
                  </div>
                  <button class="button mt-4">Edit Item</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 cart-box">
            <div class="row justify-content-between align-items-center">
              <div class="col-2">
                <img
                  class="w-100"
                  src="../../assets/best_seller/wood_dark.png"
                  alt=""
                />
              </div>
              <div class="col-4 order-dropdown">
                <div class="order-detail-box">
                  <p class="h6 blue-text fw-bold d-flex">
                    2 Inch wood Blinds
                  </p>
                  <div class="accordion" id="carttwo">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="labelcarttwo">
                        <button
                          class="accordion-button accordion-header-style collapsed pt-1 pb-0"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapsecarttwo"
                          aria-expanded="false"
                          aria-controls="collapsecarttwo"
                        >
                          Additional details
                        </button>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="d-flex order-qnatity-box align-items-center">
                  <button class="button">+</button>
                  <p>01</p>
                  <button class="button">-</button>
                </div>
              </div>
              <div class="col-2">
                <p class="h5 blue-text">$ 47.42</p>
              </div>
              <div class="col-1">
                <img src="../../assets/icons/cross.svg" alt="" />
              </div>
              <div
                id="collapsecarttwo"
                class="accordion-collapse collapse"
                aria-labelledby="labelcarttwo"
                data-bs-parent="#carttwo"
              >
                <div
                  class="d-sm-flex d-block justify-content-between align-items-start"
                >
                  <div class="accordion-body description text-start">
                    <p>SUREFIT - Guarantee to fit : <span>YES</span></p>
                    <p>Width : <span>24 0/0</span></p>
                    <p>Height : <span>36 0/0</span></p>
                    <p>Color & Texture : <span>True white 196</span></p>
                    <p>
                      Mount :
                      <span>Outside mount, not recessed</span>
                    </p>
                    <p>Lift : <span>Cordless lift $ 82.99</span></p>
                    <p>Tilt : <span>Wand</span></p>
                    <p>Block Light : <span>Standard</span></p>
                    <p>Headrail Style : <span>None</span></p>
                    <p>Valance : <span>Modern Valance</span></p>
                    <p>Shipping : <span>Standard</span></p>
                  </div>
                  <button class="button mt-4">Edit Item</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 cart-box">
            <div class="row justify-content-between align-items-center">
              <div class="col-2">
                <img
                  class="w-100"
                  src="../../assets/best_seller/wood_dark.png"
                  alt=""
                />
              </div>
              <div class="col-4 order-dropdown">
                <div class="order-detail-box">
                  <p class="h6 blue-text fw-bold d-flex">
                    2 Inch wood Blinds
                  </p>
                  <div class="accordion" id="cartthree">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="labelcartthree">
                        <button
                          class="accordion-button accordion-header-style collapsed pt-1 pb-0"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapsecartthree"
                          aria-expanded="false"
                          aria-controls="collapsecartthree"
                        >
                          Additional details
                        </button>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="d-flex order-qnatity-box align-items-center">
                  <button class="button">+</button>
                  <p>01</p>
                  <button class="button">-</button>
                </div>
              </div>
              <div class="col-2">
                <p class="h5 blue-text">$ 47.42</p>
              </div>
              <div class="col-1">
                <img src="../../assets/icons/cross.svg" alt="" />
              </div>
              <div
                id="collapsecartthree"
                class="accordion-collapse collapse"
                aria-labelledby="labelcartthree"
                data-bs-parent="#cartthree"
              >
                <div
                  class="d-sm-flex d-block justify-content-between align-items-start"
                >
                  <div class="accordion-body description text-start">
                    <p>SUREFIT - Guarantee to fit : <span>YES</span></p>
                    <p>Width : <span>24 0/0</span></p>
                    <p>Height : <span>36 0/0</span></p>
                    <p>Color & Texture : <span>True white 196</span></p>
                    <p>
                      Mount :
                      <span>Outside mount, not recessed</span>
                    </p>
                    <p>Lift : <span>Cordless lift $ 82.99</span></p>
                    <p>Tilt : <span>Wand</span></p>
                    <p>Block Light : <span>Standard</span></p>
                    <p>Headrail Style : <span>None</span></p>
                    <p>Valance : <span>Modern Valance</span></p>
                    <p>Shipping : <span>Standard</span></p>
                  </div>
                  <button class="button mt-4">Edit Item</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-12 mt-lg-0 mt-4 px-3 d-flex flex-column">
        <div
          class="row justify-content-center contact-card order-track-table mb-3"
        >
          <div class="col-12 py-4 px-5">
            <p class="h5 mb-3 blue-text">Price details</p>
            <div class="d-flex justify-content-between">
              <p class="h6 blue-text">Total MRP</p>
              <p class="h6 blue-text">$ 47</p>
            </div>
            <p class="h6 blue-text my-2">Discount</p>
            <p class="h6 blue-text">Coupon discount</p>
            <hr class="blue-text" />
            <div class="d-flex justify-content-between">
              <p class="h6 blue-text">Shipping</p>
              <p class="h6 blue-text">$ 57.43</p>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <p class="h6 blue-text">Tax</p>
              <p class="h6 blue-text">$ 57.43</p>
            </div>
            <hr class="blue-text" />
            <div class="d-flex justify-content-between">
              <p class="h6 blue-text fw-bold">Total</p>
              <p class="h6 blue-text fw-bold">$ 57.43</p>
            </div>
            <div class="row mt-4">
              <div
                class="col-lg-6 col-md-10 col-sm-6 col-12 mt-sm-0 mt-2 d-flex justify-content-center"
              >
                <a routerLink="../checkout" class="w-100"><button class="button" id="proceedbill" >Proceed</button></a>
              </div>
              <div
                class="col-lg-6 col-md-10 col-sm-6 col-12 mt-lg-0 mt-2 d-flex justify-content-center"
              >
                <a routerLink="../blinds" class="w-100">
                <button
                  class="button"
                  id="continueshop"
                >
                  Continue shopping
                </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row justify-content-center contact-card order-track-table"
        >
          <div class="col-12 py-4 px-5">
            <form action="">
              <div class="form-group">
                <input
                  class="me-2"
                  type="text"
                  name="card"
                  id="code"
                  placeholder="Do you have any coupon code ?"
                />
              </div>
              <button class="button me-2">Redeem</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
