<div class="container-fluid header-banner">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div
        class="offer-text-box col-4 d-flex justify-content-center align-items-center"
      >
        <p class="h5">UPTO 50% off sidewide</p>
        <div class="arrow">
          <img src="../../assets/grater-arrow.svg" alt="" />
        </div>
      </div>
      <div
        class="offer-text-box col-4 d-flex justify-content-center align-items-center"
      >
        <p class="h5">BOGO Buy one get one</p>
        <div class="arrow">
          <img src="../../assets/grater-arrow.svg" alt="" />
        </div>
      </div>
      <div
        class="offer-text-box col-4 d-flex justify-content-center align-items-center"
      >
        <p class="h5">UPTO 50% off sidewide</p>
        <div class="arrow">
          <img src="../../assets/grater-arrow.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container furnits-container">
  <div class="row justify-content-between">
    <div class="col-md-2 col-3 mt-md-2 mt-3 furnits-img">
      <img src="../../assets/blinds.svg" alt="" />
      <p class="h5">Blinds</p>
    </div>
    <div class="col-md-3 col-3 mt-md-2 mt-3 furnits-img">
      <img src="../../assets/shades.svg" alt="" />
      <p class="h5">Shades</p>
    </div>
    <div class="col-md-2 col-3 mt-md-2 mt-3 furnits-img">
      <img src="../../assets/shutters.svg" alt="" />
      <p class="h5">Shutters</p>
    </div>
    <div class="col-md-3 col-3 mt-md-2 mt-3 furnits-img">
      <img src="../../assets/draperies.svg" alt="" />
      <p class="h5">Draperies</p>
    </div>
    <div class="col-md-2 col-3 mt-md-2 mt-3 furnits-img">
      <img src="../../assets/verticals.svg" alt="" />
      <p class="h5">Verticals</p>
    </div>
  </div>
</div>
<div class="container cards-container">
  <div class="row">
    <div class="col-lg-4 md-12 card-box">
      <img src="../../assets/credit.svg" alt="" />
      <p class="h4 mt-2">Paypal Credit</p>
      <p class="h6 my-4">
        Pay over 24 months at 0% APR Min. purchase required. Ends 1/30.
      </p>
      <button class="button">Learn More</button>
    </div>
    <div class="col-lg-4 md-12 card-box">
      <img src="../../assets/guarantee.svg" alt="" />
      <p class="h4 mt-2">SureFit Guarantee</p>
      <p class="h6 my-4">
        Buy risk free - with a guaranteed fit for your windows.
      </p>
      <button class="button">Learn More</button>
    </div>
    <div class="col-lg-4 md-12 card-box">
      <img src="../../assets/help.svg" alt="" />
      <p class="h4 mt-2">We’re Here to Help</p>
      <p class="h6 my-4">
        No robots here! Get free expert advice from real people.
      </p>
      <button class="button">Contact Us</button>
    </div>
  </div>
</div>

<!-- collectin and offer -->
<div class="container-fluid collection-container">
  <div class="container">
    <p class="h1 text-center">Collections and Offers</p>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mt-lg-0 mt-2 collection-box">
        <a routerLink="/product-detail">
          <div class="collection-img">
            <img
              class="w-100"
              src="../../assets/collection&offer/hall.svg"
              alt=""
            />
            <div
              class="offer-text-box d-flex justify-content-around align-items-center"
            >
              <p class="h5">UPTO 50% off sidewide</p>
              <div class="arrow">
                <img src="../../assets/grater-arrow-blue.svg" alt="" />
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 mt-lg-0 mt-2 collection-box">
        <a routerLink="/product-detail">
        <div class="collection-img">
          <img
            class="w-100"
            src="../../assets/collection&offer/christmas.png"
            alt=""
          />
          <div
            class="offer-text-box d-flex justify-content-around align-items-center"
          >
            <p class="h5">All Offers</p>
            <div class="arrow">
              <img src="../../assets/grater-arrow-blue.svg" alt="" />
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 mt-lg-0 mt-2 collection-box">
        <a routerLink="/product-detail">
        <div class="collection-img">
          <img
            class="w-100"
            src="../../assets/collection&offer/window.svg"
            alt=""
          />
          <div
            class="offer-text-box d-flex justify-content-around align-items-center"
          >
            <p class="h5">Speciality Products</p>
            <div class="arrow">
              <img src="../../assets/grater-arrow-blue.svg" alt="" />
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- best-seller -->
<div class="container-fluid best-seller-container">
  <div class="container text-center">
    <div class="position-relative filter-form">
      <p class="h1 text-center">Best Seller of the Week</p>
      <form class="form-group" action="">
        <select class="select-option" name="" id="" aria-placeholder="ada">
          <option disabled value="Sort by" selected>Sort by</option>
          <option value="high">High</option>
          <option value="medium">Medium</option>
          <option value="low">Low</option>
        </select>
      </form>
    </div>

    <div class="row">
      <div class="col-md-4 col-12 mt-md-0 mt-5 collection-box">
        <div class="collection-img">
          <img
            class="w-100"
            src="../../assets/best_seller/wood_dark.png"
            alt=""
          />
          <div class="top-sell">
            <p class="h5">Top Sell</p>
          </div>
          <div
            class="offer-text-box feature-option d-flex justify-content-around align-items-center"
          >
            <div class="row w-100">
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/eye.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/like.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/cart.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="item-details mt-3">
          <p class="h5">2 Inch Wood Blinds</p>
          <p class="h5 my-2">$ 45.09</p>
          <div class="rating-box d-flex justify-content-center">
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-md-0 mt-5 collection-box">
        <div class="collection-img">
          <img
            class="w-100"
            src="../../assets/best_seller/wood_yellow.png"
            alt=""
          />
          <div class="top-sell">
            <p class="h5">Top Sell</p>
          </div>
          <div
            class="offer-text-box feature-option d-flex justify-content-around align-items-center"
          >
            <div class="row w-100">
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/eye.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/like.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/cart.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="item-details mt-3">
          <p class="h5">2 Inch Faux Wood Blinds</p>
          <p class="h5 my-2">$ 14.84</p>
          <div class="rating-box d-flex justify-content-center">
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-md-0 mt-5 collection-box">
        <div class="collection-img">
          <img
            class="w-100"
            src="../../assets/best_seller/wood_light.png"
            alt=""
          />
          <div class="top-sell">
            <p class="h5">Top Sell</p>
          </div>
          <div
            class="offer-text-box feature-option d-flex justify-content-around align-items-center"
          >
            <div class="row w-100">
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/eye.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/like.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/cart.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="item-details mt-3">
          <p class="h5">Light Filtering Cellular Shades</p>
          <p class="h5 my-2">$ 31.34</p>
          <div class="rating-box d-flex justify-content-center">
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <button class="button mt-5">View All</button>
  </div>
</div>

<!-- Window -->
<div class="container-fluid window-container p-0">
  <!-- <img class="window-banner w-100" src="../../assets/window-banner.png" alt="" /> -->
  <div class="container position-relative">
    <div class="window-box">
      <p class="h2">Your Windows, Your Way</p>
      <p class="mt-3 h6 mb-4">
        Make your window coverings uniquely yours with <br />
        custom colors and options.
      </p>
      <button class="button">Know more</button>
    </div>
    <div class="window-item">
      <p class="h5">Fabric shades</p>
      <h6>$ 25.87</h6>
      <div class="d-flex justify-content-between">
        <div class="rating-box d-flex justify-content-center">
          <img src="../../assets/icons/star.svg" alt="" />
          <img src="../../assets/icons/star.svg" alt="" />
          <img src="../../assets/icons/star.svg" alt="" />
          <img src="../../assets/icons/star.svg" alt="" />
          <img src="../../assets/icons/star.svg" alt="" />
        </div>
        <div class="arrow">
          <img src="../../assets/grater-arrow-dark.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Innovation -->
<div class="container innovation-container p-md-0 p-3 mb-0">
  <div class="row">
    <div class="col-lg-6 col-12">
      <p class="h2">
        See why Innovative Window Fashion is the #1 online retailer of custom
        window coverings
      </p>
      <p class="h6 mt-4 mb-5">
        With over 25 years online and 25 million windows covered, Blinds.com is
        the top choice for custom blinds, shades and shutters.
      </p>
      <button class="button">Know more</button>
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-5 cards-container">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-6 card-box back-yellow">
                <img src="../../assets/icons/thumbs-up.svg" alt="" />
                <p class="h5 mt-2">Paypal Credit</p>
                <p class="h6 my-4">
                  Pay over 24 months at 0% APR Min. purchase required. Ends
                  1/30.
                </p>
              </div>
              <div class="col-6 card-box back-light">
                <img src="../../assets/icons/shield.svg" alt="" />
                <p class="h5 mt-2">SureFit Guarantee</p>
                <p class="h6 my-4">
                  Buy risk free - with a guaranteed fit for your windows.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-6 card-box back-yellow">
                <img src="../../assets/icons/thumbs-up.svg" alt="" />
                <p class="h5 mt-2">Paypal Credit</p>
                <p class="h6 my-4">
                  Pay over 24 months at 0% APR Min. purchase required. Ends
                  1/30.
                </p>
              </div>
              <div class="col-6 card-box back-light">
                <img src="../../assets/icons/shield.svg" alt="" />
                <p class="h5 mt-2">SureFit Guarantee</p>
                <p class="h6 my-4">
                  Buy risk free - with a guaranteed fit for your windows.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex mt-3">
          <button
            class="carousel-control-prev me-4"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New Arrival -->
<div class="container-fluid best-seller-container light-back pt-4">
  <div class="container text-center">
    <div class="position-relative filter-form">
      <p class="h1 text-center">New Arrival</p>
      <form class="form-group" action="">
        <select class="select-option" name="" id="" aria-placeholder="ada">
          <option disabled value="Sort by" selected>Sort by</option>
          <option value="high">High</option>
          <option value="medium">Medium</option>
          <option value="low">Low</option>
        </select>
      </form>
    </div>

    <div class="row">
      <div class="col-md-4 col-12 mt-md-0 mt-5 collection-box">
        <div class="collection-img">
          <img
            class="w-100"
            src="../../assets/best_seller/wood_dark.png"
            alt=""
          />
          <div class="top-sell">
            <p class="h5">New</p>
          </div>
          <div
            class="offer-text-box feature-option d-flex justify-content-around align-items-center"
          >
            <div class="row w-100">
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/eye.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/like.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/cart.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="item-details mt-3">
          <p class="h5">1 Inch Mini Blinds</p>
          <p class="h5 my-2">$ 55.19</p>
          <div class="rating-box d-flex justify-content-center">
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-md-0 mt-5 collection-box">
        <div class="collection-img">
          <img
            class="w-100"
            src="../../assets/best_seller/wood_yellow.png"
            alt=""
          />
          <div class="top-sell">
            <p class="h5">New</p>
          </div>
          <div
            class="offer-text-box feature-option d-flex justify-content-around align-items-center"
          >
            <div class="row w-100">
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/eye.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/like.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/cart.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="item-details mt-3">
          <p class="h5">Blackout roller shades</p>
          <p class="h5 my-2">$ 20.14</p>
          <div class="rating-box d-flex justify-content-center">
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-md-0 mt-5 collection-box">
        <div class="collection-img">
          <img
            class="w-100"
            src="../../assets/best_seller/wood_light.png"
            alt=""
          />
          <div class="top-sell">
            <p class="h5">New</p>
          </div>
          <div
            class="offer-text-box feature-option d-flex justify-content-around align-items-center"
          >
            <div class="row w-100">
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/eye.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/like.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/cart.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="item-details mt-3">
          <p class="h5">Light filtering fabric blinds</p>
          <p class="h5 my-2">$ 31.32</p>
          <div class="rating-box d-flex justify-content-center">
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <button class="button mt-5">View All</button>
  </div>
</div>

<!-- Your Windows, Your Way -->
<div class="container-fluid window-container p-0">
  <!-- <img class="window-banner w-100" src="../../assets/window-banner.png" alt="" /> -->
  <div class="container position-relative">
    <div class="window-box back-yellow">
      <p class="h2">Want Your Window Treatments Professionally Installed?</p>
      <p class="mt-3 h6 mb-4">
        Have a professional do it all for you at one low price with no hidden
        fees.
      </p>
      <button class="button">Contact Us</button>
    </div>
  </div>
</div>

<!-- cards-container -->
<div class="container cards-container mb-0">
  <div class="row">
    <div class="col-lg-4 md-12 card-box">
      <img src="../../assets/icons/channel.svg" alt="" />
      <p class="h4 mt-2">Video Channel</p>
      <p class="h6 my-4">
        Watch Blinds.com expert video tutorials on everything from how to choose
        the best window treatment for your home to measuring, installing, and
        more.
      </p>
    </div>
    <div class="col-lg-4 md-12 card-box">
      <img src="../../assets/icons/measurements.svg" alt="" />
      <p class="h4 mt-2">Get the perfect measurements</p>
      <p class="h6 my-4">
        We make measuring simple with our step-by-step text guides and video
        tutorials.
      </p>
    </div>
    <div class="col-lg-4 md-12 card-box">
      <img src="../../assets/icons/color-cart.svg" alt="" />
      <p class="h4 mt-2">Buying guides</p>
      <p class="h6 my-4">
        Browse our Buying Guides to learn more about different window covering
        styles and options available through Blinds.com.
      </p>
    </div>
  </div>
</div>

<!-- Customers Favourites -->
<div class="container-fluid best-seller-container light-back">
  <div class="container text-center">
    <div class="position-relative filter-form">
      <p class="h1 text-center">Customers Favourites</p>
    </div>

    <div class="row">
      <div class="col-md-4 col-12 mt-md-0 mt-5 collection-box">
        <div class="collection-img">
          <img class="w-100" src="../../assets/favourites/bedroom.png" alt="" />
          <div class="top-sell">
            <p class="h5">10% off</p>
          </div>
          <div
            class="offer-text-box feature-option d-flex justify-content-around align-items-center"
          >
            <div class="row w-100">
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/eye.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/like.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/cart.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="item-details mt-3">
          <p class="h5">1 Inch Mini Blinds</p>
          <p class="h5 my-2">$ 55.19</p>
          <div class="rating-box d-flex justify-content-center">
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-md-0 mt-5 collection-box">
        <div class="collection-img">
          <img
            class="w-100"
            src="../../assets/favourites/roller_shades.png"
            alt=""
          />
          <div class="top-sell">
            <p class="h5">10% off</p>
          </div>
          <div
            class="offer-text-box feature-option d-flex justify-content-around align-items-center"
          >
            <div class="row w-100">
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/eye.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/like.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/cart.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="item-details mt-3">
          <p class="h5">Blackout roller shades</p>
          <p class="h5 my-2">$ 20.14</p>
          <div class="rating-box d-flex justify-content-center">
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-md-0 mt-5 collection-box">
        <div class="collection-img">
          <img class="w-100" src="../../assets/favourites/hall.png" alt="" />
          <div class="top-sell">
            <p class="h5">10% off</p>
          </div>
          <div
            class="offer-text-box feature-option d-flex justify-content-around align-items-center"
          >
            <div class="row w-100">
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/eye.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/like.svg" alt="" />
              </div>
              <div class="col-4 seller-icon">
                <img src="../../assets/icons/cart.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="item-details mt-3">
          <p class="h5">Light filtering fabric blinds</p>
          <p class="h5 my-2">$ 31.32</p>
          <div class="rating-box d-flex justify-content-center">
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
            <img src="../../assets/icons/star.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <p class="h6 mt-5 feature-text">
      Mention @innovativewindowfashion in your Instagram photos for a chance to
      be featured on our site!
    </p>
    <button class="button mt-5">View All</button>
  </div>
</div>

<!-- testimonial -->
<div class="container testimonial-container">
  <p class="h2">Testimonials</p>
  <div class="row">
    <div class="col-lg-4 col-12 mt-lg-0 mt-5">
      <div class="testimonial-box">
        <p class="h6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nam
          neque dignissimos sequi facere cupiditate consectetur quasi esse
          voluptatibus consequuntur velit perspiciatis unde sint sit praesentium
          corporis fugiat possimus vero.
        </p>
      </div>
      <div class="user-detail-box">
        <div class="user-li"></div>
        <div class="user-detail mx-2">
          <p class="h5">- John Evans</p>
          <p class="h6">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 mt-lg-0 mt-5">
      <div class="testimonial-box">
        <p class="h6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nam
          neque dignissimos sequi facere cupiditate consectetur quasi esse
          voluptatibus consequuntur velit perspiciatis unde sint sit praesentium
          corporis fugiat possimus vero.
        </p>
      </div>
      <div class="user-detail-box">
        <div class="user-li"></div>
        <div class="user-detail mx-2">
          <p class="h5">- John Evans</p>
          <p class="h6">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 mt-lg-0 mt-5">
      <div class="testimonial-box">
        <p class="h6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nam
          neque dignissimos sequi facere cupiditate consectetur quasi esse
          voluptatibus consequuntur velit perspiciatis unde sint sit praesentium
          corporis fugiat possimus vero.
        </p>
      </div>
      <div class="user-detail-box">
        <div class="user-li"></div>
        <div class="user-detail mx-2">
          <p class="h5">- John Evans</p>
          <p class="h6">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- news-latter -->
<div class="container-fluid news-letter-container">
  <div class="container">
    <p class="h2 text-center">Read our Latest News</p>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 mt-lg-0 col-12">
        <div>
          <img class="w-100" src="../../assets/hall_img.png" alt="" />
          <div class="news-letter-text">
            <p class="h5">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
            <p class="h6 date mt-2 mb-3">28 Aug, 2022 | No Comments</p>
            <p class="h6">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Explicabo corrupti reprehenderit ex velit fugit soluta quibusdam
              earum omnis, dignissimos ratione!
            </p>
            <button class="button mt-3">Read more</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 mt-lg-0 mt-3 col-12">
        <div>
          <img class="w-100" src="../../assets/hall_img.png" alt="" />
          <div class="news-letter-text">
            <p class="h5">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
            <p class="h6 date mt-2 mb-3">28 Aug, 2022 | No Comments</p>
            <p class="h6">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Explicabo corrupti reprehenderit ex velit fugit soluta quibusdam
              earum omnis, dignissimos ratione!
            </p>
            <button class="button mt-3">Read more</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 mt-lg-0 mt-3 col-12">
        <div>
          <img class="w-100" src="../../assets/hall_img.png" alt="" />
          <div class="news-letter-text">
            <p class="h5">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
            <p class="h6 date mt-2 mb-3">28 Aug, 2022 | No Comments</p>
            <p class="h6">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Explicabo corrupti reprehenderit ex velit fugit soluta quibusdam
              earum omnis, dignissimos ratione!
            </p>
            <button class="button mt-3">Read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
