<div class="container">
  <p class="h3 text-center mb-5 mt-3 blue-text">My Account</p>
</div>
<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs justify-content-between mt-5">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#dashboard"
        >Dashboard</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#myorder">My Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#myfavorites"
        >My Favorites</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#accountdetails"
        >Account Details</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#logout">Logout</a>
    </li>
  </ul>

  <div class="tab-content my-5">
    <div class="tab-pane container active" id="dashboard">
      <div class="d-flex justify-content-between pb-5">
        <div class="user-detail">
          <p class="h2 blue-text">Hello, John Evans</p>
          <p class="h6 black-text">You are successfully logged in.</p>
        </div>
        <button class="button">Logout</button>
      </div>
    </div>
    <div class="tab-pane container" id="myorder">
      <div class="d-flex justify-content-between pb-5">
        <div class="user-detail">
          <p class="h2 blue-text">My Order</p>
          <p class="h6 black-text">You are successfully logged in.</p>
        </div>
        <button class="button">Logout</button>
      </div>
    </div>
    <div class="tab-pane container" id="myfavorites">
      <div class="d-flex justify-content-between pb-5">
        <div class="user-detail">
          <p class="h2 blue-text">myfavorites</p>
          <p class="h6 black-text">You are successfully logged in.</p>
        </div>
        <button class="button">Logout</button>
      </div>
    </div>
    <div class="tab-pane container" id="accountdetails">
      <div class="d-flex justify-content-between pb-5">
        <div class="user-detail">
          <p class="h2 blue-text">accountdetails</p>
          <p class="h6 black-text">You are successfully logged in.</p>
        </div>
        <button class="button">Logout</button>
      </div>
    </div>
    <div class="tab-pane container" id="logout">
      <div class="d-flex justify-content-between pb-5">
        <div class="user-detail">
          <p class="h2 blue-text">logout</p>
          <p class="h6 black-text">You are successfully logged in.</p>
        </div>
        <button class="button">Logout</button>
      </div>
    </div>
  </div>
</div>
