<div class="container registerform">
  <p class="h3 text-center mb-5 mt-3 blue-text">Register</p>
  <form action="">
    <div class="row justify-content-center flex-column align-items-center">
      <div class="col-lg-6 col-md-8 col-12 form-group mb-3">
        <p class="h6 blue-text mb-1">User Name</p>
        <input class="w-100" type="text" />
      </div>
      <div class="col-lg-6 col-md-8 col-12 form-group mb-3">
        <p class="h6 blue-text mb-1">Email ID</p>
        <input class="w-100" type="text" />
      </div>
      <div class="col-lg-6 col-md-8 col-12 form-group mb-3">
        <p class="h6 blue-text mb-1">Phone Number</p>
        <input class="w-100" type="text" />
      </div>
      <div class="col-lg-6 col-md-8 col-12 form-group mb-3">
        <p class="h6 blue-text mb-1">Password</p>
        <input class="w-100" type="text" />
      </div>
      <div class="col-lg-6 col-md-8 col-12 form-group mb-5 mt-3">
        <button class="button">Register</button>
      </div>
    </div>
  </form>
</div>
